<ion-app [class.dark-theme]="dark">
  <ion-menu contentId="main-content">
    <ion-content>
      <ion-list lines="none">
        <ion-list-header>
          เมนู
        </ion-list-header>



        <ion-item>
          <ion-icon slot="start" name="moon-outline"></ion-icon>
          <ion-toggle [(ngModel)]="dark">
            โหมดมืด
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
