<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>หน้าแรก</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <div style="padding: 16px;">
    <ion-card *ngFor="let item of documents" style="margin-bottom: 16px; padding: 8px;" >
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>{{item.lastname}} - {{item.brithday}} - {{item.phone}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-button [routerLink]="['/edit', item.id]">แก้ไขข้อมูล</ion-button>
      <ion-button color="danger" (click)="deleteData(item.id)">ลบ</ion-button>
    </ion-card>
  </div>
</ion-content>
