<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ข้อมูลผู้ต้องการจองคิว</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div style="margin: 10px;"></div>
  <ion-label>ชื่อ (ไม่ต้องใส่คำนำหน้าชื่อ)</ion-label>
  <div style="margin: 10px;"></div>
  <ion-input class="custom" type="text" placeholder="ระบุชื่อผู้ที่ต้องการจอง" [(ngModel)]="name"></ion-input>
  <div style="margin: 10px;"></div>

  <ion-label>นามสกุล</ion-label>
  <div style="margin: 10px;"></div>
  <ion-input class="custom" type="text" placeholder="ระบุนามสกุลผู้ที่ต้องการจอง" [(ngModel)]="lastname"></ion-input>
  <div style="margin: 10px;"></div>

  <ion-list>
    <label>วัน เดือน ปีเกิด</label>
    <div style="margin-bottom: 10px;"></div>
    <ion-item button="true" id="open-date-input" class="custom">
      <ion-label>
        เลือกวันที่
      </ion-label>
      <ion-text slot="end">{{ birthday }}</ion-text>
      <ion-popover id="date-input-popover" trigger="open-date-input" [showBackdrop]="true " side="top" alignment="end">
        <ng-template>
          <ion-datetime max="2056" presentation="date" [(ngModel)]="birthday"
            [showDefaultButtons]="true"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-list>

  <div style="margin: 10px;"></div>
  <ion-label>เบอร์โทรศัทพ์</ion-label>
  <div style="margin: 10px;"></div>
  <ion-input class="custom" type="text" placeholder="0xx-xxx-xxxx" [(ngModel)]="phone" maxlength="10"></ion-input>
  <div style="margin: 10px;"></div>
</ion-content>

<ion-footer style="background-color: white;">
  <div style="display: flex; justify-content: space-between; padding: 10px;">
    <ion-button [routerLink]="['/sidemenu/tabs/home']" class="sub-button" fill="clear">ยกเลิก</ion-button>
    <ion-button class="sub-button" (click)="addData()">ดำเนินการต่อ</ion-button>
  </div>
</ion-footer>
