.container-card {
  margin: 4%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-card-header {
  padding: 4%;
  background-color: #004fa4;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

ion-col {
  // background-color: #135d54;
  // border: solid 1px #fff;
  color: #000;
  text-align: center;
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: gray;
  padding: 4px;
}

.text {
  font-size: 14px;
}

.sub-button {
  width: 80px;
}

ion-card-header {
  background-color: #3880ff;
}
