<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>รายชื่อโรงพยาบาล</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" [routerLink]="['/hospital']">
        เพิ่มโรงพยาบาล
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 16px;">
    <ion-card *ngFor="let item of hospital" style="margin-bottom: 16px;">
      <ion-card-header>
        <ion-card-title style="color: white;">{{item.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid fixed>
          <ion-row class="centered-row">
            <ion-col size="8" style="text-align: left; align-items: center;">
              <div class="title">{{item.room}}</div>
              <div class="subtitle">{{item.onwork}}</div>
              <div class="subtitle">มีทั้งหมด {{item.queue}} คิว</div>
            </ion-col>
            <ion-col>
              <ion-button [routerLink]="['/terms']" class="sub-button" fill="outline">จองคิว</ion-button>
              <ion-button class="sub-button" fill="outline">ดูคิวว่าง</ion-button>
              <ion-button class="sub-button" color="danger" fill="outline"
                (click)="handlerDelete(item.id)">ลบ</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
